// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* CSS Document

Author: Lucas Mathis
*/


* {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  color: #999;
  border-radius: 0;
}

/* Main Div Style */
#main {
  max-width: 940px;
  margin: 0 auto;
  background-color: #fff;
}

/* Navigation Style */
nav {
  max-width: 940px;
  min-width: 275px;
  margin: 0 auto;
  font-size: 84%;
  background: #070707;
  background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
  background: -o-linear-gradient(top, #262626 0%, #070707 100%);
  background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
  background: linear-gradient(to bottom, #262626 0%, #070707 100%);
  border: 0px solid #fff;
}

#navList{
  padding: 0;
  background: #999;
  font-size: 98%;
  margin: 0;
}
#navList li a:hover {
  background: #070707;
  background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
  background: -o-linear-gradient(top, #262626 0%, #070707 100%);
  background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
  background: linear-gradient(to bottom, #262626 0%, #070707 100%);
}
#navList li {
  margin: 0;
  padding: 0;
  color: #fff;
  border-bottom-style: solid;
  border-color: #000;
  border-width: 1px;

}
#navList li a {
  color: #fff;
}

.dropdown ul {
  background-color: #ccc;
}
.dropdown ul li:hover {
  background: #070707;
  background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
  background: -o-linear-gradient(top, #262626 0%, #070707 100%);
  background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
  background: linear-gradient(to bottom, #262626 0%, #070707 100%);
}

/* Fancy Smancy Divider line between images & text */
#indexDivider, hr {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(204,204,204,0), rgba(204,204,204,0.9), rgba(204,204,204,0));
  background-image:    -moz-linear-gradient(left, rgba(204,204,204,0), rgba(204,204,204,0.9), rgba(204,204,204,0));
  background-image:     -ms-linear-gradient(left, rgba(204,204,204,0), rgba(204,204,204,0.9), rgba(204,204,204,0));
  background-image:      -o-linear-gradient(left, rgba(204,204,204,0), rgba(204,204,204,0.9), rgba(204,204,204,0));
}

/* Image Styles */
.allImgHolder {
  text-align: center;
  margin: 0 auto;
}

#profileImgDiv {
  max-width: 700px;
  margin: 0px auto !important;
}

.imgRow {
  margin-bottom: 4%;
}

.imgRow div a img {

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border: 1px solid #999;

}

.imgRow div a img:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border: 3px solid #cc9933;
}

span#userFullName {
  display: block;
  padding-bottom: 2%;
  color: #070707;
  font-size: 115%;
  text-decoration: inherit;
}

span#userFullName:hover{
  color: #cc9933;
  text-decoration: inherit;
}

.oddRow {
  text-align: center;
  margin: 0 auto;

}

/* Pulses for profile Images */
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }

  75% {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
  }
}

@keyframes pulse {
  15% {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
  }

  85% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
}

/* Paragraph (description) Styles -HomePage */

.topStatement{
  margin: 55px 0 auto;
  text-align: center;
  font-size: 200%;
  color: #070707;
}

.logo{
  color: black;
  font-size:215%;
}

.logoBlack{
  color: #cc9933;
}

.ocLink a:hover {
  color: #cc9933;
}

.ocLink a {
  color: inherit;
}

.nameLink a{
  color: inherit;
}

.descripPar {
  margin: 0px auto;
  margin-bottom: 100px;
  max-width: 840px;
  text-align: center;
  font-size: 240%;
}

/* Footer Styles */
footer {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  background: #070707;
  background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
  background: -o-linear-gradient(top, #262626 0%, #070707 100%);
  background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
  background: linear-gradient(to bottom, #262626 0%, #070707 100%);

}

footer p {
  text-align: center;
  font-size: 110%;
  padding: 5px;
  color: #999;
}

footer p a {
  color: #999;
}

footer p span {
  color: #cc9933;
}

footer p a:hover {
  color: #fff;
  text-decoration: none;
}


#socialMediaFooter{
  margin: 8px 0px 2px 0px;
}

#socialMediaFooter a {
  margin: 0 4px;
}

#socialMediaFooter a img:hover {
  border: 1px solid #fff;
}


/////*********************************/
//.memberPhoto {
//  margin: 0 50px 10px 130px;
//  -webkit-box-shadow: 0 0 1px 1px #CCCCCC;
//  box-shadow: 0 0 1px 1px #CCCCCC;
//  -webkit-transition: all 0.2s ease;
//  transition: all 0.2s ease;
//}
.memberPhoto:hover {
  /*
  -webkit-box-shadow: 0px 0px 1px 1px #cc9933;
  box-shadow: 0px 0px 1px 1px #cc9933);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  */
}
.sliderNav a {
  margin: 0 20px 0 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* FAQ Styles */

#faqDiv {
  margin: 4% auto 2% auto;
  max-width: 940px;
}

#faqDiv h1 {
  margin: 30px auto 2% auto;
  text-align: center;
  font-size: 340%;
}

.panel-heading [data-toggle="collapse"]:after {
  content: "\e072"; /* "play" icon */
  float: right;
  color: #cc9933;
  font-size: 18px;
  line-height: 22px;
  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #cc9933;
}


/* FAQ Form Styles */

#faqForm form {
  margin: 2% auto 150px auto;
}

#faqForm p {
  text-align: center;
  margin: 0 auto;
  padding: 0 2%;
  font-size: 130%;
  max-width: 940px;
}

#faqForm form input {
  width: 90%;
  max-width: 400px;
  padding: 10px;
  font-size: 110%;
  margin-bottom: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  border: 1px solid #aaa;
}
#faqForm form input:focus {
  border: 1px solid #cc9933;
  box-shadow: 0 0 10px #cc9933;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#faqForm form textarea:focus {
  border: 1px solid #cc9933;
  box-shadow: 0 0 10px #cc9933;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#faqForm form textarea {
  width: 90%;
  max-width: 400px;
  padding: 10px;
  font-size: 110%;
  margin-bottom: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  border: 1px solid #aaa;
  height: 120px;
}

@media screen and (max-width: 480px) {
  #faqForm form textarea {
    resize: none;
    max-width: 90%;
  }
  #faqDiv h1 {
    font-size: 200%;
    margin: 50px auto 4% auto;
  }
}

#faqForm form input[type='submit'] {
  text-align: center;
  font-size: 110%;
  padding: 10px;
  width: 100px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  border: 2px solid #cc9933;
  background-color: #fff;
  color: #cc9933;
  box-shadow: none;
}
#faqForm form input[type='submit']:hover {
  background: #000;
  background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
  background: -o-linear-gradient(top, #333333 0%, #141414 100%);
  background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  color: #cc9933;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: none;
  border: 2px solid #cc9933;
}
#contact {
  text-align: center;
  margin: 0 auto;
}

.contactReturn{
  margin-top: 100px;
}
@media (max-width: 768px){
  nav#portNav.navbar.navbar-inverse.navbar-fixed-top {
    display: none;
  }
}

.faqLink {
  color: #cc9933;
}

.faqLink:hover {
  color: #000;
}

/* latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Maven Pro Regular'), local('MavenProRegular'), url(http://fonts.gstatic.com/s/mavenpro/v7/MG9KbUZFchDs94Tbv9U-pVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Maven Pro Bold'), local('MavenProBold'), url(http://fonts.gstatic.com/s/mavenpro/v7/uDssvmXgp7Nj3i336k_dSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/**
 * MEMBER FORMS
 */

.legend{
  text-align: center;
}

div#main {
  margin: 100px;
  overflow: auto;
}

#box legend{
  text-align:center;
}

#profileFNameLName {
  display:inline;
  margin:0 0 0 15%;
}

.userProfileFirstNameInput {
  float:left;
  margin-left:100px;
}
.userProfileFirstNameInput label{
  text-align:center;
}

.userProfileLastNameInput {
  float:left;
  margin-left: 60px;
}

.userProfileLastNameInput label {
  text-align:center;
}

.userProfileAbout {
  display:block;
  padding-left: 100px;
  float:left;
}

.userProfileAbout label {
  text-align: center;
}


.userProfileSubmit{
  float:left;
  margin-left: 260px;
}

.userProfileSubmit label {
  text-align: center;
}

#profileFNameLName label {
  display:block;
  vertical-align:top;
  text-decoration: underline;
}

#box input  {
  width:250px;
  height: 30px;
  border-bottom: solid #fff;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 0 2px 1px 1px #cc9933;
  margin-bottom: 50px;
  text-align: center;

}

#box textarea {
  width: 500px;
  height: 100px;
  border-bottom: solid #fff;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 0 2px 1px 1px #cc9933;
  margin-bottom: 50px;
  display:block;
  margin-left:50px;
}


#box input:focus {
  color: #cc9933;
  transition: all 0.8s ease-in-out;
}

#box textarea:focus {
  color: #cc9933;
  transition: all 0.8s ease-in-out;
}

#box input:not(:focus) {
  color: black;
  transition: all 0.8s ease-in-out;
}
#box textarea:not(:focus) {
  color: black;
  transition: all 0.8s ease-in-out;
}
#box {
  left: 33%;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 80px;
}

.userPhotos {
  float:right;
}

.userPhotosCaption{
  display:block;
}
#box label {
  display:block;
  color: black;
  font-weight:normal;
}
*:focus {
  outline: 0;
}

div#profileFormFields{
  margin: 3% 20% 0 23%;
  display:block;
}

button#btnSubmitButton {
  text-align: center;
  margin: 10px 100px 0 200px;
}

div#profileFormFields label {
  display:block;
  text-align:center;
  color:black;
}

div#profileFormFields .form-group{

}

input#txtFirstName {
  margin: 0 55px 30px;
}

input#txtLastName {
  margin: 0 15px 30px
}

input#txtFirstName:focus {
  border: 1px solid #cc9933;
  box-shadow: 0 0 10px #cc9933;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

input#txtLastName:focus {
  border: 1px solid #cc9933;
  box-shadow: 0 0 10px #cc9933;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

button#btnSubmitButton:hover {
  background: #cc9933;
  border: 1px solid rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);

}

button#btnSubmitButton {
  text-align: center;
  margin: 10px 100px 0 230px;
  color: #fff;
  font-weight: 300;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background: #333333;
  border: 1px solid #cc9933;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}


